@import './base';
@font-face
{
  font-family: EveryFreakinNight;
  src: url('./fonts/RoundHand-Free-2.ttf'),
    url('./fonts/RoundHand-Free-1.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  min-height: 100%;
}

.meta-size {
  font-size: 30px;
  line-height: 32px;
}

.logo {
  // font-family: EveryFreakinNight;
  @extend .meta-size;
}

.color-blue {
  color: $color-blue;
}

.bg-volet {
  background-color: #dddaec;
}

.filter-blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.text-mute {
  color: #414142;
}