@import './base';
// @font-face
// {
//   font-family: EveryFreakinNight;
//   src: url('./fonts/RoundHand-Free-2.ttf'),
//     url('./fonts/RoundHand-Free-1.otf');
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

:root{
  min-height: 100%;
}

body {
  background-color: $color-light;
}

.meta-size {
  font-size: 30px;
  line-height: 32px;
}

.logo {
  @extend .meta-size;
}

.color-blue {
  color: $color-blue;
}

.text-mute {
  color: #414142;
}
