.btn {
  display: inline-block;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid $border-color;
  padding: .375em .75em;
  border-radius: .3rem;
  margin: .25rem .1rem;

  &:hover {
    color: $body-color;
    text-decoration: none !important;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none !important;
    opacity: .65 !important;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}
