$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

$color-blue:    #2a7ae2 !default;
$color-coral:   #F08080 !default;
$color-green:   #20c997 !default;

$color-primary:      $color-blue !default;
$color-secondary:    lighten($gray-900, 35%) !default;
$color-success:      $color-green !default;
$color-warning:      $color-coral !default;
$color-light:        $gray-100 !default;
$color-dark:         $gray-900 !default;

$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $color-secondary,
  "success":    $color-success,
  "warning":    $color-warning,
  "light":      $color-light,
  "dark":       $color-dark
) !default;

$lightness-contrasted-threshold:  150 !default;
$lightness-text-dark:             $gray-900 !default;
$lightness-text-light:            $gray-100 !default;

// Spacing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$negative-spacers: negativify-map($spacers) !default;

// body settings
$body-bg:                   $color-light !default;
$body-color:                $color-dark !default;

$link-color:                              $color-primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;

$paragraph-margin-bottom:   1rem !default;


$width-breakpoint: 576px !default;
// borders
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$border-radius:               .25rem !default;

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;

// fonts
$font-family-sans-serif: Helvetica,Georgia,Arial,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","华文细黑","Source Han Sans CN","Noto Sans SC","WenQuanYi Micro Hei",SimSun,sans-serif;
$font-family-monospace:  "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base:              1rem !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-smaller:           $font-size-base * .8 !default;

$font-sizes: () !default;
$font-sizes: map-merge(
  (
    "base":    $font-size-base,
    "lg":      $font-size-lg,
    "sm":      $font-size-sm,
    "smaller": $font-size-smaller
  ),
  $font-sizes
);

$line-height-base:            1.5 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal;

$font-weights: (
  "lighter": $font-weight-lighter,
  "light": $font-weight-light,
  "normal": $font-weight-normal,
  "bold": $font-weight-bold,
  "bolder": $font-weight-bolder
) !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$small-font-size:             .875em !default;

$content-padding:  1rem;
$content-width: 800px;
